.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: fixed;
  height: 3.5rem;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  padding: 10px 0;
  border: 1px solid #ececec;
  .left,
  .middle,
  .right {
    padding: 0 1rem;
  }
  .left {
    .logo {
      font-size: 1.2rem;
      font-family: 'Baloo Bhai 2', cursive;
    }
  }
  .middle {
    width: 100%;
    overflow-x: clip;
  }
}
