@import 'styles/mixin';

.LargeRow {
  display: flex;
  &:nth-child(odd) {
    margin-left: 3.64rem;
  }
}

.Row {
  display: flex;
  &:nth-child(odd) {
    margin-left: 2.6rem;
  }
}

.PaletteHexagon {
  margin: 1rem auto;
  padding-bottom: 1.5rem;
  width: fit-content;
}

.HexPalette {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid #ececec;
  border-radius: 10px;
  .header {
    .title {
      width: 16rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 1.2rem;
      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
  }
}
