.LikeButton {
  display: flex;
  width: 5rem;
  height: 2rem;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  border: 1px solid #ececec;

  p {
    font-size: 0.8rem;
  }
}
