.Tag {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid #ececec;
  padding: 0 14px;
  border-radius: 1rem;
  margin: 0 4px 4px 0;
  font-size: 12px;
  height: 34px;
  padding-left: 28px;
  padding-right: 12px;
  .colorDot {
    width: 14px;
    height: 14px;
    border: 1px solid #ececec;
    border-radius: 100%;
    position: relative;
    background-color: #ececec;
    left: -18px;
  }
}
